.App {
	text-align: center;
	width: 90%;
	display: block;
	margin: 30px auto;
}

body{
	background-color: #fff;
}

button{
	display: block;
	margin: auto;
}

input{
	width: 80%;
	padding: 10px;
}

.red {
	color: red;
}

.bold {
	font-weight: bold;
}